
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #26272b;
  color: #f4f4f4;
}

a{
  color: #f4f4f4;
  text-decoration: none;
}

h1{
  text-align: center;
  margin: 1rem;
}